.info-pop_up-box {
  display: flex;
  width: 330px;
  padding: 14px 26px 14px 13px;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid #28415e;
  position: fixed;
  background-color: #203956;
  color: #eee;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  transition: opacity .3s,transform .3s,left .3s,right .3s,top .4s,bottom .3s;
  overflow: hidden;
  animation:box-move 0.3s;
}
.right {
  right: 16px;
}
.close {
  transform: translate(100% , 0);
}
@keyframes box-move {
  from {
    transform: translate(100% , 0);
  }
	to {
    transform: translate(0 , 0);
  }
}